@import "./variables";

.about {
  color: $white;

  // .about__items

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    row-gap: 98px;

    @media (max-width: 768px) {
      row-gap: 68px;
    }

    @media (max-width: 480px) {
      row-gap: 28px;
    }

    &-item {
      &:nth-child(3) {
        margin-left: 18px;

        @media (max-width: 768px) {
          margin-left: 14px;
        }

        @media (max-width: 480px) {
          margin-left: 10px;
        }
      }
      &:nth-child(6) {
        margin-left: 18px;
        @media (max-width: 768px) {
          margin-left: 14px;
        }

        @media (max-width: 480px) {
          margin-left: 10px;
        }
      }
      p {
        position: relative;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 170%;
        margin-bottom: 20px;

        &::after {
          position: absolute;
          content: "";
          bottom: 0;
          left: 0;
          right: 0;
          height: 1px;
          width: 71px;
          background-color: $white;
          @media (max-width: 768px) {
            width: 51px;
          }

          @media (max-width: 480px) {
            width: 41px;
          }
        }

        @media (max-width: 768px) {
          font-size: 24px;
        }

        @media (max-width: 480px) {
          font-size: 18px;
        }
      }
      span {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 170%;
        color: rgba(255, 255, 255, 1);

        @media (max-width: 480px) {
          font-size: 12px;
        }
      }
    }
  }
}
