@import "./variables";

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  align-items: center;
  &__logo {
    img {
      @media (max-width: 768px) {
        width: 157px;
      }

      @media (max-width: 480px) {
        width: 127px;
      }
    }
  }
  &__navbar {
    max-width: 392px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: 768px) {
      display: none;
    }
    &-item {
      position: relative;
      cursor: pointer;
      transition: all 0.3s ease;
      opacity: 0.6;

      &:hover {
        opacity: 1;
        &::after {
          width: 100%;
          transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.3s all;
        }
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: rgb(50, 78, 255);
      }
      a {
        color: $white;
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;

        text-decoration: none;
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  &__burger {
    display: none;
    @media (max-width: 768px) {
      display: flex;
    }
  }
}
