@import "./variables";

.reviews {
  color: $white;
  margin-bottom: 150px;
  position: relative;

  @media (max-width: 768px) {
    margin-bottom: 75px;
  }

  // .reviews__burrows
  &__rev {
    display: flex;
    flex-direction: row;
    column-gap: 23px;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
  &__burrows {
    max-width: 410px;
    padding: 35px 28px;
    background-color: rgba(24, 24, 24, 0.59);
    text-align: center;

    &:nth-child(1) {
      @media (max-width: 768px) {
        margin: 0 auto;
      }
    }

    &:nth-child(2) {
      @media (max-width: 768px) {
        display: none;
      }
    }

    &:nth-child(3) {
      @media (max-width: 768px) {
        display: none;
      }
    }

    &-name {
      margin: 10px auto;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 170%;
    }
    &-recommendation {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 170%;
    }
  }

  &__imgs {
    display: flex;
    justify-content: space-evenly;
    row-gap: 57px;
    margin-top: 30px;

    @media (max-width: 768px) {
      justify-content: space-between;
    }

    &-btn {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      width: 70px;
      height: 70px;
      background-color: rgba(19, 120, 239, 1);
      cursor: pointer;
      img {
        transition: all 0.4s ease;
        &:hover {
          transform: scale(1.3);
        }
      }
    }
  }

  .back {
    &:hover {
      transform: translate(-12px);
    }
  }

  .next {
    &:hover {
      transform: translate(12px);
    }
  }
}
